/*Jana Nash-Siegle

colors:
#c87346 - brown
#f4ba52 - tan
#ffe85f - yellow
#8ab6be - light blue
#f3f4f5 - neutral white
*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;

}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.tooltip {
    display:none;
    z-index: 100000;
    position:absolute;
    opacity: 0.80;
    width: auto;
    background: rgb(200,115,70); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(200,115,70,1) 0%, rgba(244,186,82,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(200,115,70,1)), color-stop(100%,rgba(244,186,82,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(200,115,70,1) 0%,rgba(244,186,82,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(200,115,70,1) 0%,rgba(244,186,82,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(200,115,70,1) 0%,rgba(244,186,82,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(200,115,70,1) 0%,rgba(244,186,82,1) 100%); /* W3C */
    padding:10px;
    color:#000;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow: 0 0 3px 3px #ffe85f;
    -webkit-box-shadow: 0 0 3px 3px #ffe85f;
    box-shadow: 0 0 3px 3px #ffe85f;
}
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 800px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background-color: #acd9de;
}
.close {
    background: #c87346;
    color: #f3f4f5;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: #f4ba52;
}
li.liPic:hover {
    background: url("../images/cityscape.jpg");
}
/*Admin Page - Some button styling below #login input.btn */
header {
    display: inline-block;
    width: 100%;
    text-align:left;
    background-color: #7E6C54;
    color: #f3f4f5;
}
header p {
    margin-left:20px;
    display: inline-block;
}
/*top log in bar / nav bar styling*/
nav {
    width: 100%;
    background-color: #7E6C54;
    height: 3.625em;
    top: 0;
    right: 0;
    padding: 0 .625em;
    position:  absolute;
    margin: 0 auto;
    overflow: hidden;
}
nav ul {
    float: right;
    padding-right: 3.125em;
}
nav li {
    color: #f3f4f5;
    list-style-type: none;
    display: inline-block;
    padding-right: 1.250em;
    margin: 0 auto;
}
nav li fieldset, #register fieldset {
    border: none;
}
img#nav{
    padding-left: 1.250em;
}
#login input.btn, header button{
    background: #c87346; /* Old browsers */
    background: -moz-linear-gradient(top,  #c87346 0%, #f4ba52 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c87346), color-stop(100%,#f4ba52)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #c87346 0%,#f4ba52 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #c87346 0%,#f4ba52 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #c87346 0%,#f4ba52 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #c87346 0%,#f4ba52 100%); /* W3C */
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    width: 200%;
    height: 30px;
    display: inline-block;
    color: #000;
    font-weight: bold;
}
header button{     /*Dashboard Page*/
    display: inline-block;
    width: 10%;
    height: 2em;
    float: right;
    margin: 10px 20px auto auto;
}
/*begin generic body styling*/
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #acd9de;
    font-weight: lighter;
    color: #c87346;
    margin: 0 auto;
    position: relative;
}
#container {
    width: 100%;
    margin: 0 auto;
    padding: 1.250em;
    position: relative;
}
h1, h2, p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
}
h1 {
    font-size: 1.500em;
    font-weight: 500;
    line-height: 1.625em;
}
h2 {
    font-size: 1.250em;
    font-weight: 500;
    line-height: 0.938em;
}
p {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.250em;
}
/*begin upper half of content styling for welcome page*/
.COA {
    margin: 2.25em  auto .75em auto;
}
#intro, #trial {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    background-color: #f3f4f5;
    border: 2px inset #c87346;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    box-shadow: .625em .625em .313em .313em rgba(0,0,0,0.4);
    -moz-box-shadow: .625em .625em .313em .313em rgba(0,0,0,0.4);
    -o-box-shadow: .625em .625em .313em .313em rgba(0,0,0,0.4);
    -webkit-box-shadow: .625em .625em .313em .313em rgba(0,0,0,0.4);
}
#intro img {
    max-width: 60%;
    padding-top: 4px;
    margin: 0 auto;
    height: auto;
    display: inline-block;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
}
#intro ul{
    font-size: 1.500em;
    line-height: 2em;
    display: inline-block;
    margin: 0 auto;
}
#features {
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
}
#features li {
    margin: 0 auto;
}
#features h2 {
    margin: 1.255em auto 1.875em;
}
#features button {
    display: inline-block;
    color: #000;
    width:55%;
    height: 3.125em;
    font-size:1.5em;
    font-weight: bold;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    background: #c87346; /* Old browsers */
    background: -moz-linear-gradient(top,  #c87346 0%, #f4ba52 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c87346), color-stop(100%,#f4ba52)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #c87346 0%,#f4ba52 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #c87346 0%,#f4ba52 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #c87346 0%,#f4ba52 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #c87346 0%,#f4ba52 100%); /* W3C */
    margin-bottom: 1.250em;
}
/*End of Intro*/

/*mid-section styling for welcome page*/
.reviews{
    background-color:#f3f4f5;
    display: flex;
    width: 100%;
    margin: 2.53em auto 1.625em auto;
    text-align: center;
}
.comments{
    background-color:#8ab6be;
    width: 25%;
    border: 1px #999999;
    display: inline-block;
    float: left;
    flex: 1;
}
blockquote {
    display: inline-block;
  background: #f9f9f9;
  border-left: 10px solid #C87346;
  margin: 1.5em .625em;
  padding: 0.5em .625em;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #C87346;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
/*End of Reviews/Comments*/

/*Beginning of bottom half for welcome page*/
#trial{
    margin-top: 1.625em;
    display: block;
    overflow: hidden;
}

#wp{
    display: inline-block;
    margin: 1.875em auto 0 auto;
    float: left;
    width: 50%;
}
#wp h1 {
    width: 100%;
    text-align: left;
    display: block;
    height: auto;
    margin-left: 2.125em;
    margin-top: .5em;
}
#wp img {
    float: left;
    width: 45%;
    margin-top: 1.25em;
    margin-left: 3.125em;
}
#wp1{
    float: right;
    display:inline-block;
    margin-right: 1em;
    margin-top: 1.875em;
}
#wp1 h2{
    text-align: right;
    margin-right: 1em;
}
#wp1 form{
    text-align: right;
    display: inline-block;
    margin-right: 1.250em;
}
#wp1 .submit_btn{
    display: inline-block;
    color: #000;
    width:43%;
    height: 2.5em;
    font-size:1em;
    font-weight: bold;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    background: #c87346; /* Old browsers */
    background: -moz-linear-gradient(top,  #c87346 0%, #f4ba52 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c87346), color-stop(100%,#f4ba52)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #c87346 0%,#f4ba52 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #c87346 0%,#f4ba52 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #c87346 0%,#f4ba52 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #c87346 0%,#f4ba52 100%); /* W3C */
}

/*end of bottom half*/

/*footer styling for welcome page*/
footer{
    width: 100%;
    background-color: #7E6C54;
    height: 3.625em;
    color: #f3f4f5;
    text-align: center;
    padding: 0 .625em;
    position:  absolute;
    margin: 1.625em auto 0 auto;
    overflow: hidden;
}
footer.short{
    position: fixed;
    height: 1.75em;
    bottom: 0;
}
footer.short p {
    font-size: .5em;
}

/*Register.html specific styling*/
#rRegister img{
    float: left;
    margin: 1.250em auto 0 1.250em;
}
#rRegister {                    /*container for form*/
    display: block;
    margin: .5em auto 0 auto;

    text-align: center;
    background-color: #f3f4f5;
    border: 2px inset #c87346;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    box-shadow: .313em .313em .313em .313em rgba(0,0,0,0.4);
    -moz-box-shadow: .313em .313em .313em .313em rgba(0,0,0,0.4);
    -o-box-shadow: .313em .313em .313em .313em rgba(0,0,0,0.4);
    -webkit-box-shadow: .313em .313em .313em .313em rgba(0,0,0,0.4);
}
#rRegister h1{
    font-size: 2em;
}
#rRegister label {
    width: 18.750em;
    font-weight: bold;
}
#rRegister input {
    width: 31.250em;
    line-height: 2em;
    float: right;
    font-weight: lighter;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#rRegister fieldset {
    display: block;
    text-align: left;
    border: 0;
}
#rRegister input#passwordInput{
    width:31.250em;
}
/*terms and agreement checkbox*/

#rRegister input[type = "checkbox"] {
    margin-right: .325em;
    display: inline-block;
    width: 3em;
    float: none;
}
#rRegister p.checkboxAgree{
    float: right;
    display: inline-block;
    margin: 0 auto;
    font-size: .75em;
}
#rRegister input.btn{
    color: #000;
    width:21.5em;
    height: 2em;
    font-size:1em;
    font-weight: bold;
    line-height: 1em;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    background: #c87346; /* Old browsers */
    background: -moz-linear-gradient(top,  #c87346 0%, #f4ba52 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c87346), color-stop(100%,#f4ba52)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #c87346 0%,#f4ba52 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #c87346 0%,#f4ba52 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #c87346 0%,#f4ba52 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #c87346 0%,#f4ba52 100%); /* W3C */
    margin: 1em auto;
    display: block;
}
/* asterisk for required */
.red {
    color: red;
}
.required:before {
    content:" *";
    color: red;
}
/* end asterisk */

/* Media Queries*/
/* Smartphones (portrait and landscape) ----------- */
@media screen and (max-width: 700px){              /*make comments stack*/
    .reviews {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    .comments {
        width: 100%;
    }
    #trial{
        display: none;
    }
    nav{
        height: 10.625em;
    }
    #intro{
        margin-top: 1.250em;
    }
    .COA{
     margin-top: 9.375em;
    }
    nav ul{
        clear: both;
        width: 75%;
    }
    nav li{
        text-align: right;
        margin-right: 1.250em;
    }
    #login input.btn{
        margin-left: .938em;
        margin-bottom: 1.250em;
        width: 225%;
    }
}

