/*Jana Nash-Siegle

colors:
#c87346 - brown
#f4ba52 - tan
#ffe85f - yellow
#8ab6be - light blue
#f3f4f5 - neutral white
*/


html {
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit;

}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*+++++++++++++++++++++++++++++++++Icons ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?-iwrjwx');
    src:url('fonts/icomoon.eot?#iefix-iwrjwx') format('embedded-opentype'),
    url('fonts/icomoon.woff?-iwrjwx') format('woff'),
    url('fonts/icomoon.ttf?-iwrjwx') format('truetype'),
    url('fonts/icomoon.svg?-iwrjwx#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon', monospace;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 2em;
    padding-right: 10px;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;

}
.icon-home:before {
    content: "\e900";
}
.icon-pencil:before {
    content: "\e905";
}
.icon-paste:before {
    content: "\e92d";
}
.icon-calendar:before {
    content: "\e953";
}
.icon-user-plus:before {
    content: "\e973";
}
.icon-user-minus:before {
    content: "\e974";
}
.icon-hour-glass:before {
    content: "\e979";
}
.icon-cog:before {
    content: "\e994";
}
.icon-clipboard:before {
    content: "\e9b8";
}
.icon-tree:before {
    content: "\e9bc";
}
.icon-plus:before {
    content: "\ea0a";
}
.icon-minus:before {
    content: "\ea0b";
}
.icon-list-numbered:before {
    content: "\e9b9";
}
.icon-alarm:before {
    content: "\e950";
}
.icon-pushpin:before {
    content: "\e946";
}
.icon-envelop:before {
    content: "\e945";
}
.icon-profile:before {
    content: "\e923";
}
.icon-circle-down:before {
    content: "\ea43";
}
.icon-user:before {
    content: "\e971";
}
.icon-paint-format:before {
    content: "\e90c";
}
hr.gradient_one {       /*Horizontal Rule for in-between Projects */
    border: 0;
    height: 1px;
    background: #c87346;
    background-image: -webkit-linear-gradient(left, #f4ba52, #c87346, #f4ba52);
    background-image: -moz-linear-gradient(left, #f4ba52, #c87346, #f4ba52);
    background-image: -ms-linear-gradient(left, #f4ba52, #c87346, #f4ba52);
    background-image: -o-linear-gradient(left, #f4ba52, #c87346, #f4ba52);
    clear: both;
}
.tooltip {
    display:none;
    z-index: 100000;
    position:absolute;
    opacity: 0.80;
    width: auto;
    background: rgb(200,115,70); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(200,115,70,1) 0%, rgba(244,186,82,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(200,115,70,1)), color-stop(100%,rgba(244,186,82,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(200,115,70,1) 0%,rgba(244,186,82,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(200,115,70,1) 0%,rgba(244,186,82,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(200,115,70,1) 0%,rgba(244,186,82,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(200,115,70,1) 0%,rgba(244,186,82,1) 100%); /* W3C */
    padding:10px;
    color:#000;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow: 0 0 3px 3px #ffe85f;
    -webkit-box-shadow: 0 0 3px 3px #ffe85f;
    box-shadow: 0 0 3px 3px #ffe85f;
}
.close {
    background: #c87346;
    color: #f3f4f5;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    cursor: pointer;
}

.close:hover {
    background: #f4ba52;
}
/* ++++++++++++++++++++++++++++++++++++++++Admin Page TOPBAR - Some button styling below #login input.btn */

header {
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: #7E6C54;
    color: #f3f4f5;
    margin: 0 auto;
    overflow: hidden;
}
header p {
   text-align: center;
    display: inline-block;
}
/*++++++++++++++++++++++++++++++++++++++++++++top log in bar / nav bar styling*/
nav {
    width: 100%;
    background-color: #7E6C54;
    height: 3.625em;
    top: 0;
    right: 0;
    padding: 0 .625em;
    position:  absolute;
    margin: 0 auto;
    overflow: hidden;
}
nav ul {
    float: right;
    padding-right: 3.125em;
}
nav li {
    color: #f3f4f5;
    list-style-type: none;
    display: inline-block;
    padding-right: 1.250em;
    margin: 0 auto;
}
nav li fieldset, #register fieldset {
    border: none;
}
img#nav{
    padding-left: 1.250em;
}

/*+++++++++++++++++++++++++++++++++++++++++++BUTTONS BUTTONS BUTTONS ++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++++++++++++++ /*Sign Out Button   --  removed .modalClick*/
header button{
    display: inline-block;
    width: 10%;
    height: 2em;
    float: right;
    margin: 10px 10% 10px auto;
    border: 1px solid #c87346;
}
/*++++++++++++++++++++++++++++++++++++++++++Dashboard button*/
#dashboard {
    float: left;
    margin:10px 0 10px 10%;
}
.submit_btn, button.modalClick, button, button, #login input.btn, #addForm input.btn {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #c84d1d;
    width: 150px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    background: #c87346; /* Old browsers */
    background: -moz-linear-gradient(top,  #c87346 0%, #f4ba52 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c87346), color-stop(100%,#f4ba52)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #c87346 0%,#f4ba52 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #c87346 0%,#f4ba52 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #c87346 0%,#f4ba52 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #c87346 0%,#f4ba52 100%); /* W3C */
    border: 1px solid #c87346;
}
/*++++++++++++++++++++++++++++++++++++++++++++Form & all things Modal ++++++++++++++++++++++++++*/
button.modalClick {
    text-align: center;
    font-size: inherit;
    float: right;
    width: 65%;
}
.modalClick  {
    font-size: 1.5em;
    text-align: right;
    display: inline-block;
    width: 85%;
}
.modalClick a {
    text-decoration: none;
    color: #c87346;
}
#modal{
    position: fixed;
    top: 20%;
    left: 25%;
    width: 100%;
    max-width: 630px;
    min-width: 320px;
    display: none;
}
#overlay{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
    display: none;
}
fieldset{
    border: none;
}
#addForm {                    /*container for form*/
    display: block;
    width: 100%;
    height: auto;
    margin: .5em auto 0 auto;
    text-align: center;
    background-color: #f3f4f5;
    border: 2px inset #c87346;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    box-shadow: .313em .313em .313em .313em rgba(0,0,0,0.4);
    -moz-box-shadow: .313em .313em .313em .313em rgba(0,0,0,0.4);
    -o-box-shadow: .313em .313em .313em .313em rgba(0,0,0,0.4);
    -webkit-box-shadow: .313em .313em .313em .313em rgba(0,0,0,0.4);
}
#addForm h1{
    font-size: 2em;
    text-align: center;
}
#addForm label {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
    width: 18.750em;
    line-height: 2em;
}
#addForm input,input#rPasswordInput, input#confirmPasswordInput {
    width: 20em;
    line-height: 2em;
    float: right;
    font-weight: lighter;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

}
#addForm input.btn {
    line-height: 1.625em;
}
#addForm fieldset {
    display: block;
    text-align: left;
    border: 0;
}
#addForm fieldset.radiogroup  {
    text-align: center;
    padding: .125em;
}
fieldset.radiogroup legend {
    font-weight: Normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-left: 20px;
    font-size: 100%;
    color: #C87346;
}
label > input{ /* HIDE RADIO */
    display:none;
}
label > input + img{ /* IMAGE STYLES */
    cursor:pointer;
    border:2px solid transparent;
    margin-right: 20px;
}
label > input:checked + img{ /* (CHECKED) IMAGE STYLES */
    border:2px solid #f00;
}
button#addButton {
    margin-bottom: 20px;
}
/*++++++++++++++++++++++++TABS STYLING / ADMIN PAGE+++++++++++++++++*/
#admin{
    height: 500px;
}
#admin h1, #admin h2{
    margin-left: 180px;
}
#panel{
    margin: 75px auto 0 auto;
    width: 50%;
}
#tabs {
    width: 600px;
    height: auto;
    padding: 40px 20px 20px 20px;
    border: 1px solid #c87346;
    color: #c87346;
    background: rgb(243,244,245); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(243,244,245,1) 1%, rgba(229,229,229,1) 52%, rgba(243,244,245,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(243,244,245,1)), color-stop(52%,rgba(229,229,229,1)), color-stop(100%,rgba(243,244,245,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(243,244,245,1) 1%,rgba(229,229,229,1) 52%,rgba(243,244,245,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(243,244,245,1) 1%,rgba(229,229,229,1) 52%,rgba(243,244,245,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(243,244,245,1) 1%,rgba(229,229,229,1) 52%,rgba(243,244,245,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(243,244,245,1) 1%,rgba(229,229,229,1) 52%,rgba(243,244,245,1) 100%); /* W3C */
}
#tabs-nav {
    width: 600px;
    height: 47px;
    text-decoration: none;
    list-style-type: none;
    font-size: 1.5em;
    margin-top:30px;
    margin-bottom: 0;
}
#tabs-nav a {
    text-decoration: none;
    color: #c84d1d;
    vertical-align: middle;
}
#tabs-nav span{
    width: 400px;
}
#tabs-nav li{
    display: inline;
    padding: 10px 35px 10px 35px;
   width: 100%;
    border-radius: 30px 30px 0 0;
    background: #c87346; /* Old browsers */
    background: -moz-linear-gradient(top,  #c87346 0%, #f4ba52 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c87346), color-stop(100%,#f4ba52)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #c87346 0%,#f4ba52 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #c87346 0%,#f4ba52 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #c87346 0%,#f4ba52 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #c87346 0%,#f4ba52 100%); /* W3C */
}
#tabs-nav li.current{
    background: rgb(244,186,82); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(244,186,82,1) 0%, rgba(200,115,70,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,186,82,1)), color-stop(100%,rgba(200,115,70,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(244,186,82,1) 0%,rgba(200,115,70,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(244,186,82,1) 0%,rgba(200,115,70,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(244,186,82,1) 0%,rgba(200,115,70,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(244,186,82,1) 0%,rgba(200,115,70,1) 100%); /* W3C */
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++begin generic body styling*/
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #acd9de;
    font-weight: lighter;
    color: #c87346;
    margin: 0 auto;
    position: relative;
}
#container {
    width: 100%;
    margin: 0 auto;
    padding: 1.250em;
    position: relative;
}
h1, h2, p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
}
h1 {
    font-size: 1.500em;
    font-weight: 300;
    line-height: 1.625em;
}
h2 {
    font-size: 1.250em;
    font-weight: 300;
    line-height: 0.938em;
}
p {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.250em;
}
button:focus {
    outline: none;
}
/*++++++++++++++++++++++++++++++++++++++++STYLING FOR WELCOME INTRO, TRIAL AND Project Page */
.COA {
    margin: 2.25em  auto .75em auto;
}
#intro, #trial, #pPage, #admin {    /*styling for main backgrounds of section containers*/
    max-width: 90%;
    margin: 0 auto;
    background-color: #f3f4f5;
    border: 2px inset #c87346;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    box-shadow: .625em .625em 3.313em .625em rgba(0,0,0,0.4);
    -moz-box-shadow: .625em .625em 3.313em .625em rgba(0,0,0,0.4);
    -o-box-shadow: .625em .625em 3.313em .625em rgba(0,0,0,0.4);
    -webkit-box-shadow: .625em .625em 3.313em .625em rgba(0,0,0,0.4);
}
#intro img {
    max-width: 60%;
    padding-top: 4px;
    margin: 0 auto 0 20px;
    height: auto;
    display: inline-block;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
}
#intro ul{
    font-size: 1.500em;
    line-height: 2em;
    display: inline-block;
    margin: 20px auto ;
    list-style:none;
}
#features {
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
    width: 35%;
}
#features h1{
    text-align: right;
}
#features li {
    margin: 0 auto;
    text-align: left;
}
#features h2 {
    margin: 1.255em auto 1.875em;
}
#features input.btn {
    float: right;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++End of Intro*/

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++mid-section REVIEW styling for welcome page*/
.reviews{
    background-color:#f3f4f5;
    display: flex;
    width: 100%;
    margin: 2.53em auto 1.625em auto;
    text-align: center;
}
.comments{
    background-color:#8ab6be;
    width: 25%;
    border: 1px #999999;
    display: inline-block;
    float: left;
    flex: 1;
}
blockquote {
    display: inline-block;
  background: #f9f9f9;
  border-left: 10px solid #C87346;
  margin: 1.5em .625em;
  padding: 0.5em .625em;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #C87346;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++End of Reviews/Comments*/

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++Beginning of bottom half for welcome page - trial & email registration*/
#trial{
    margin-top: 1.625em;
    display: block;
    overflow: hidden;
}
#wp{
    display: inline-block;
    margin: 1.875em auto 0 auto;
    float: left;
    width: 50%;
}
#wp h1 {
    width: 100%;
    text-align: left;
    display: block;
    height: auto;
    margin-left: 2.125em;
    margin-top: .5em;
}
#wp img {
    float: left;
    width: 45%;
    margin-top: 1.25em;
    margin-left: 3.125em;
}
#wp1{
    float: right;
    display:inline-block;
    margin-right: 1em;
    margin-top: 1.875em;
}
#wp1 h2{
    text-align: right;
    margin-right: 1em;
}
#wp1 form{
    text-align: right;
    display: inline-block;
    margin-right: 1.250em;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++end of bottom half*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++footer styling*/
footer{
    width: 100%;
    background-color: #7E6C54;
    height: 3.625em;
    color: #f3f4f5;
    text-align: center;
    padding: 0 .625em;
    position:  absolute;
    margin: 1.625em auto 0 auto;
    overflow: hidden;
}
footer.short{
    position: fixed;
    bottom: 0;
}
input#passwordInput, input#rPasswordInput, input#confirmPasswordInput{
    display: initial;
}
/* ++++++++++++++++++++++++++++++++++++++++asterisk for required */
.red {
    color: red;
}
.required:before {
    content:" *";
    color: red;
}
/*++++++++++++++++++++++++++++++++++++++++ end asterisk */
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++Project.html Specific Styling   class = project  ID = */
.projectList {
    margin: 0 20px 20px 20px;
    padding: 0;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++Project ACCORDION*/
#accordion{
    margin: 50px 20px;
    padding:5px 15px;
    cursor:pointer;
}
.project h2{
    padding: 20px;
    margin-top: 0;
}
.project h2:hover,
.project h2:active,
.active{
    background: #c87346; /* Old browsers */
    background: -moz-linear-gradient(top,  #c87346 0%, #f4ba52 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c87346), color-stop(100%,#f4ba52)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #c87346 0%,#f4ba52 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #c87346 0%,#f4ba52 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #c87346 0%,#f4ba52 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #c87346 0%,#f4ba52 100%); /* W3C */
    color: white;
}
.project section {
    display:none;
    margin:0.5em 0;
    padding:0 50px;
    text-align: left;
}
#pPage > a > img, #admin img{
    display: inline;
    margin: 5px 0 auto 5%;
    float: left;
    overflow: hidden;
    width: 6%;
}
.projTitle{
    text-align: center;
}
.projbtn{
    float: right;
    margin:0 20px 20px 0;
}











